{{extend 'layout.html'}}
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Hello World!</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <style>
        @import url({{=URL("static","cesium/Build/Cesium/Widgets/widgets.css")}});
        html,body,#cesiumContainer {
            width:98%; height: 98%; margin: 0; padding: 1; overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="cesiumContainer"></div>
        <script>
            var viewer = new Cesium.Viewer('cesiumContainer',{
                    timeline : false,
                    animation : false
            });
            var scene = viewer.scene;
            //var dataSource = Cesium.GeoJsonDataSource.load('{{=URL('default', 'get_geojson')}}');
            //Use a billboard instead of a point.
            var dataSource = new Cesium.GeoJsonDataSource();
            var data = {{=data}};
            dataSource.load(data,{
                markerSize : 10
            });
            viewer.dataSources.add(dataSource);
            viewer.zoomTo(dataSource);
    </script>
</body>
