<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{=URL('static','css/main.css')}}">
    </head>
    <body>
        <header>
            <div id="menu-bar" class="container">
                <div class="menu-logo"> <img src='{{=URL("static","images/orbitool.png")}}' alt="Orbitool logo" height="50" width="150" />
                </div>
                <div class="menu-button home currentpage" style="background:#8dbbbb" onmouseover="this.style.background='blue';" onmouseout="this.style.background='#8dbbbb';">
                    <a href="#">
                        <span><img src='{{=URL("static","images/home_icon.png")}}' alt="home icon" height="35" width="35" /></span>
                            <span><text class="h2 htext menu-fill" transform="translate(155.87 97.92)">Home</text></span>
                        </svg>
                    </a>
                </div>
                <div class="menu-button preview" style="background:#8dbbbb" onmouseover="this.style.background='blue';" onmouseout="this.style.background='#8dbbbb';">
                    <a href="select">
                        <span><img src='{{=URL("static","images/select_icon.png")}}' alt="select icon" height="35" width="35" /></span>
                            <span><text class="p2 menu-fill" transform="translate(155.87 97.92)">Select</text></span>
                        </svg>
                    </a>
                </div>
                <div class="menu-button viewer" style="background:#8dbbbb" onmouseover="this.style.background='blue';" onmouseout="this.style.background='#8dbbbb';">
                    <a>
                        <span><img src='{{=URL("static","images/view_icon.png")}}' alt="view icon" height="35" width="35" /></span>
                            <span><text class="v2 menu-fill" transform="translate(156.37 97.92)">Viewer</text></span>
                        </svg>
                    </a>
                </div>
                <div class="menu-button user">
                    <a href="https://sa.catapult.org.uk/">
                        <img src='{{=URL("static","images/saWhite26.png")}}' />
                    </a>
                </div>

				<!-- start the login drop down -->
				<div style="float:right; width: 350px; height: 260px; margin: 5px">
				{{if 'auth' in globals():}}
					<div class="lg_dropdown">
						<span>
							{{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}: 
						</span>
						{{if auth.user:}}
						<span><a href="{{=URL('default','user/profile')}}" style="color: #1f1f7f">{{=T('Profile')}}</a></span>
						<span><a href="{{=URL('default','user/change_password')}}" style="3f3fef">{{=T('Change Password')}}</a></span>
						<span><a href="{{=URL('default','user/logout')}}" style="color: #1f1f7f">{{=T('Logout')}}</a></span>
						{{else:}}
						<span><a href="{{=URL('default','user/login')}}" style="color:#1f1f7f">{{=T('Login')}}</a></span>
						<span><a href="{{=URL('default','user/register')}}" style="color:#3f3fef">{{=T('Sign up')}}</a></span>
						<span><a href="{{=URL('default','user/request_reset_password')}}" style="color:#1f1f7f">{{=T('Lost Password')}}</a></span>
						{{pass}}
					</div>
				{{pass}}
				</div>
            </div>
        </header>
        <div id="content">
            <div id="hero" class="container" style="background-color: black;">
                <div class="leftColumn">
                    <p style="color: white">Orbitool is a 3D visualiser for satellites.
          It performs link budget calculations to let you analyse satellite systems.</p>
                    <div style="margin-bottom: 30px">
                        <br><p style="font-size: 1.5vw;color:white">Input spreadsheet below</p>
                    </div>
                    {{=form}}
                    <p style="color: white"> Sample files: <br>
                    <a href='{{=URL("static","excel/DB_Const_valide_sat_xyz_trsp_corrected.xlsx")}}' target="_blank">Single Satellite FWD</a><br>
                    <a href='{{=URL("static","excel/DB_Const_valide_sat_xyz_RTN.xlsx")}}' target="_blank">Single Satellite RTN</a>
                   </p>
                </div>
                <div class="rightColumn">
                    <img src='{{=URL("static","images/home_image.jpg")}}' width="100%" height="100%" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="sep-bar"></div>
            <div class="container feature-bar" style="text-align: center;">
                <div class="feature-box">
                    <div>
                        <img src='{{=URL("static", "images/link_performance.svg")}}' class="feature-image" />
                    </div>
                    <div class="feature-text">
                        <p class="feature-header-text">Link Performance</p>
                        <p class="feature-sub-text">Including Atmospheric Propagation</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div>
                        <img src='{{=URL("static", "images/3d.svg")}}' class="feature-image" />
                    </div>
                    <div class="feature-text">
                        <p class="feature-header-text">3D Data Visualisation</p>
                        <p class="feature-sub-text">Altitude, Position & Coverage</p>
                    </div>
                </div>
                <div class="feature-box">
                    <div>
                        <img src='{{=URL("static", "images/2d.svg")}}' class="feature-image" />
                    </div>
                    <div class="feature-text">
                        <p class="feature-header-text">2D Data Visualisation</p>
                        <p class="feature-sub-text">EIRP, G/T</p>
                    </div>
                </div>
            </div>
            <div class="sep-bar"></div>
            <div id="contact" class="container">
                <div style="width: 50%">
                    <div style="margin-bottom: 30px">
                        <p style="font-size: 1.5vw;color:#1D7475">Get in Touch</p>
                    </div>
                    <div style="text-align:center;height:50px;width:99%;margin-bottom:30px;display: inline-block">
                        <div style="width:45%;padding-right:5%;float:left;display: block">
                            <div style="width:15%;padding-right:5%;float:left;display: block"><img src={{=URL("static", "images/email.svg")}} /></div>
                            <div style="width:75%;padding-right:5%;float:left;display: block;font-size: 1.1vw"><p>orbitool.support<br>@sa.catapult.org.uk</p></div>
                        </div>
                        <div style="width:45%;padding-right:5%;float: left;display: block">
                            <div style="width:15%;padding-right:5%;float:left;display: block"><img src='{{=URL("static", "images/call.svg")}}' /></div>
                            <div style="width:75%;padding-right:5%;float:left;display: block;font-size: 1.1vw"><p>01235 567999</p></div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:30px;font-size: 1.25vw">
                        <p>If not signed in the user cannot access the other parts of the website.</p>
                        <p>The user can either sign up for an account or sign in within the navigation bar.</p>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>

        <script src={{=URL("static", "js/dom.js")}}></script>
        <script src={{=URL("static", "js/main.js")}}></script>
    </body>
</html>
