{{extend 'layout.html'}}
<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Hello World!</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <script src="{{=URL("static","cesium/ThirdParty/CesiumHeatmap/CesiumHeatmap.js")}}"></script>
    <style>
        @import url({{=URL("static","cesium/Build/Cesium/Widgets/widgets.css")}});
        html,body,#cesiumContainer {
            width:98%; height: 98%; margin: 0; padding: 1; overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="cesiumContainer"></div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    var jsonObj;
    var jsonArray =[];
    $.get('{{=URL('default','get_geojson',args=44)}}', function(json) {
        jsonObj = json;
        console.log(jsonObj.features[1]);
        console.log(jsonObj.features.length);
        for (i=0;i<jsonObj.features.length;i++){
            jsonArray[i]={x:jsonObj.features[i].geometry.coordinates[0],y:jsonObj.features[i].geometry.coordinates[1],value:jsonObj.features[i].properties.EIRP};
        }
        console.log(jsonArray);
        var viewer = new Cesium.Viewer('cesiumContainer',{
            timeline : false,
            animation : false
        });
        var heatmap = CesiumHeatmap.create(viewer, {
            west: -6, south: 35, east: 6, north: 55
          }, {radius: 10});
        heatmap.setData(290, 300, jsonArray);
    });
});

</script>
