{{extend 'layout.html'}}
<script   src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
  src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js">
</script>
<link rel="stylesheet"   media="screen"   href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<table id="job_table" class="table table-bordered table-striped" cellspacing="0" width="100%">
</table>
<script type="text/javascript">
$(document).ready(function(){
    $("#job_table").DataTable({
        data:  {{=row}},
        columns: [
            { data: 'job_name' },
            { data: 'simulator_mode' },
            { data: 'VSAT_ID'}
            // 'id' omitted to show that you can
            // use only the fields you choose
        ]
    })
});
</script>
