.navbar-inverse {
    background-color: #8DBBBB;
    color: white;
    border-color: #8DBBBB;
    font-size: 22px;
}



.ui-tabs .ui-tabs-nav {
    text-align: center;
}

.ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block;
}

#ui-id-1
{
background: #3C6A89;
    color: white;
}
#ui-id-2
{
background: #735177;
    color: white;
}
#ui-id-3
{
background: #803F5D;
    color: white;
}
#ui-id-4
{
background: #C4294E;
    color: white;
}



#tabs-4{
    height: 219px;
}

#previewgo {
    fill: black;
    height: 26px;
    padding-left: 28%;
}

#processed {
    height: 46px;
  }
input {
    color: black
}

input.upload {
    color: white
}

.navbar-nav {
    float: left;
    margin: 9px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

body {
  background-color: #eeeeee
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    margin-bottom: -88px;
}
body {
  font-family: "PT Sans";
}

.hero-unit {
  position: absolute;
  top: 55%;
  text-align: left;
}

#hero-logo {
  width:50%;
  text-align: center;
}