body {
  background-color: #eeeeee
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    margin-bottom: -88px;
}
body {
  font-family: "PT Sans";
}

.hero-unit {
  position: absolute;
  top: 55%;
  text-align: left;
}

#hero-logo {
  width:50%;
  text-align: center;
}
