.navbar-inverse {
    background-color: #8DBBBB;
    color: white;
    border-color: #8DBBBB;
    font-size: 22px;
}

.navbar-nav {
    float: left;
    margin: 9px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

body {
  background-color: #eeeeee
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    margin-bottom: -88px;
}
body {
  font-family: "PT Sans";
}

.hero-unit {
  position: absolute;
  top: 55%;
  text-align: left;
}

#hero-logo {
  width:50%;
  text-align: center;
}