<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Cesium / ID: {{=request.args(0)}}</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <script src="{{=URL("static","js/lodash.core.js")}}"></script>
    <link rel="stylesheet" href="{{=URL("static","/cesium/Build/Cesium/Widgets/widgets.css")}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{=URL("static","/css/lbcesium.css")}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
<div id="cesiumContainer" class="fullSize"></div>
<div id="loadingOverlay"><h1>Loading...</h1></div>
<div id="target"></div>
<div id="toolbar">
    <h1>Orbitool Visualiser</h1>
    <table>
        <tbody>
        <tr>
            <td><input type="checkbox" id="showSATCheckbox"></td>
            <td>Satellites
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td><input type="checkbox" id="showFOVCheckbox"></td>
            <td>Satellite Cone
            </td>

            <td>Color:
            <select data-bind="options: FOVcolors, value: FOVcolor"></select></td>

        </tr>
        <tr>
            <td><input type="checkbox" id="showFOVCIRCLECheckbox"></td>
            <td>Satellite FOV Circles
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td><input type="checkbox" id="showTRSPCheckbox"></td>
            <td>Transponder FOV
            </td>
            <td>
            </td>

        </tr>
        <td><input type="checkbox" id="showGWCheckbox"></td>
        <td>Gateways
        </td>
        <td>
        </td>
        <tr>
            <td><input type="checkbox" id="showVSATCheckbox"></td>
            <td>EIRP
            </td>
            <td>
                <input type="range" min="0" max="1" step="0.01" data-bind="value: alphaEIRP, valueUpdate: 'input'">
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" id="showELEVATIONCheckbox"></td>
            <td>Elevation
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" id="showSAT_GPTCheckbox"></td>
            <td>SAT_GPT
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" id="centreCheckbox"></td>
            <td>Centre on SATs (dev)
            </td>
            <td>
            </td>
        </tr>
        <button class="btn" id="screenshot">
            Screenshot
        </button>
        </tbody>
    </table>
</div>

<script src="{{=URL("static","js/lbcesium.js")}}" type="text/javascript" ,
        geo_json_vsat="{{=URL('lbController', 'get_geojson',args=[request.args(0)])}}" ,
        geojson_sat="{{=URL('lbController', 'get_geojson_sat',args=[request.args(0)])}}" ,
        geojson_gw="{{=URL('lbController', 'get_geojson_gw',args=[request.args(0)])}}" ,
        geojson_FOV="{{=URL('lbController', 'get_geojson_FOV',args=[request.args(0)])}}" ,
        geojson_FOV_circle="{{=URL('lbController', 'get_geojson_FOV_CIRCLE',args=[request.args(0)])}}" ,
        geojson_TRSP_FOV="{{=URL('lbController', 'get_geojson_TRSP_FOV_CIRCLE',args=[request.args(0)])}}" ,
        satellite_img="{{=URL("static","satellite1.gif")}}" ,
        ground_station_img="{{=URL("static","facility.gif")}}" ,
        catapult_logo="{{=URL("static","images/saWhite26.png")}}" ,
        performance_maxmin="{{=URL('lbController', 'performance_maxmin',args=[request.args(0)])}}">
</script>

</body>
