<head>
    <!-- Use correct character set. -->
    <meta charset="utf-8">
    <!-- Tell IE to use the latest, best version. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Cesium / ID: {{=request.args(0)}}</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <style>
        @import url(../templates/bucket.css);
        @import url({{=URL("static","cesium/Build/Cesium/Widgets/widgets.css")}});
        html,body,#cesiumContainer {
            width:100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
        }
        #toolbar{
            display:block;
            position:absolute;
            top:5px;
            left:5px;
            background: rgba(42, 42, 42, 0.8);
            padding: 4px;
            border-radius: 4px;
          }
        #toolbar input {
          vertical-align: middle;
          padding-top: 2px;
          padding-bottom: 2px;
        }
    </style>
    <style>
        @import url({{=URL("static","cesium/Apps/Sandcastle/templates/bucket.css")}});
    </style>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <div id="cesiumContainer" class="fullSize"></div>
    <div id="loadingOverlay"><h1>Loading...</h1></div>
    <div id="target"></div>
    <div id="toolbar">
        <!--<button onclick="alert('You clicked!');">Click me!</button>
        <button type="button" class="button1 clickable">Toggle</button>
        <table>
            <tbody><tr>
                <td><font color="white" face="verdana" size="2">Adjust Colour</font></td>
                <td>
                    <input type="range" min="270" max="290" step="0.02" data-bind="value: , valueUpdate: 'input'">
                    <input type="text" size="5" data-bind="value: brightness">
                </td>
            </tr>
        </tbody></table>-->
        <table><tbody data-bind="foreach: layers">
                    <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
        <td><input type="checkbox"  id="showSATCheckbox"></td>
        <td> <font color="white" face="verdana" size="3">Satellites              </font>
            <!--<span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
            <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>-->
        </td>
        <td>
            <input type="range" min="0" max="1" step="0.01" data-bind="value: alpha, valueUpdate: 'input'">
        </td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">▲</button></td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">▼</button></td>
    </tr>
     <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
        <td><input type="checkbox" id="showGWCheckbox"></td>
        <td> <font color="white" face="verdana" size="3">Gateways              </font>
            <!--<span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
            <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>-->
        </td>
        <td>
            <input type="range" min="0" max="1" step="0.01" data-bind="value: alpha, valueUpdate: 'input'">
        </td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">▲</button></td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">▼</button></td>
    </tr>        
    <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
        <td><input type="checkbox" id="showVSATCheckbox"></td>
        <td> <font color="white" face="verdana" size="3">EIRP              </font>
            <!--<span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
            <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>-->
        </td>
        <td>
            <input type="range" min="0" max="1" step="0.01" data-bind="value: alpha, valueUpdate: 'input'">
        </td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">▲</button></td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">▼</button></td>
    </tr>
                <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
        <td><input type="checkbox" id="showELEVATIONCheckbox"></td>
        <td> <font color="white" face="verdana" size="3">Elevation  </font>
            <!--<span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
            <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>-->
        </td>
        <td>
            <input type="range" min="0" max="1" step="0.01" data-bind="value: alpha, valueUpdate: 'input'">
        </td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">▲</button></td>
        <td><button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">▼</button></td>
    </tr>
</tbody></table>
    </div>

        <script>
            var viewer = new Cesium.Viewer('cesiumContainer',{
                timeline : false,
                animation : false
            });
            var viewModel = {
                EIRPmin: 31.1984391831,
                ELEVATIONmin: 57,
                Tmin: 282,  //need to write a function to determin minimum temperature
            };
            //ajax('{{=URL('lbController', 'test')}},[],'target')
            //var toolbar = document.getElementById('toolbar');
            //Cesium.knockout.applyBindings(viewModel, toolbar);
            var VSAT = new Cesium.GeoJsonDataSource();
            VSAT.load('{{=URL('lbController', 'get_geojson',args=[request.args(0)])}}').then(function(){
                var entities = VSAT.entities.values;
                for (var i = 0; i < entities.length; i++) {
                    var entity = entities[i];
                    entity.billboard = undefined;
                    entity.point = new Cesium.PointGraphics({
                        color: Cesium.Color.fromBytes((((entity.properties.EIRP-viewModel.EIRPmin)))*80.875,0,(1/(entity.properties.EIRP-viewModel.EIRPmin))*320.875,210),
                        //color: Cesium.Color.fromBytes(0,((1/(entity.properties.EIRP-viewModel.EIRPmin)))*400.875,(entity.properties.EIRP-viewModel.EIRPmin)*120.875,210),
                        //color: Cesium.Color.fromBytes((entity.properties.EIRP-viewModel.Tmin)*20.875,0,((1/(entity.properties.EIRP-viewModel.Tmin)))*540.875,210),  //currently plots temperature
                        pixelSize: 8,
                        scaleByDistance : Cesium.NearFarScalar(3.2e5, 90.0, 1.2e6, 0.01)
                    })
                };
            });
            var ELEVATION = new Cesium.GeoJsonDataSource();
            ELEVATION.load('{{=URL('lbController', 'get_geojson',args=[request.args(0)])}}').then(function(){
                var entities = ELEVATION.entities.values;
                for (var i = 0; i < entities.length; i++) {
                    var entity = entities[i];
                    entity.billboard = undefined;
                    entity.point = new Cesium.PointGraphics({
                        color: Cesium.Color.fromBytes((((entity.properties.ELEVATION-viewModel.ELEVATIONmin)))*5.875,0,(1/(entity.properties.ELEVATION-viewModel.ELEVATIONmin))*3020.875,210),
                        pixelSize: 8,
                        scaleByDistance : Cesium.NearFarScalar(3.2e5, 90.0, 1.2e6, 0.01)
                    })
                };
            });             
           var GW = new Cesium.GeoJsonDataSource();
           GW.load('{{=URL('lbController', 'get_geojson_gw',args=[request.args(0)])}}').then(function(){
                var entities = GW.entities.values;
                for (var i = 0; i < entities.length; i++) {
                    var entity = entities[i];
                    entity.billboard = new Cesium.BillboardGraphics({
                        image : '{{=URL("static","facility.gif")}}', //This image ships with cesium I believe
                    })
                };
            });
           var SAT = new Cesium.GeoJsonDataSource();
           SAT.load('{{=URL('lbController', 'get_geojson_sat',args=[request.args(0)])}}').then(function(){
                var entities = SAT.entities.values;
                for (var i = 0; i < entities.length; i++) {
                    var entity = entities[i];
//                    entity.point = new Cesium.PointGraphics({
//                        color: Cesium.Color.fromBytes(255,0,0,210),
//                        pixelSize: 8,
//                        scaleByDistance : Cesium.NearFarScalar(3.2e5, 90.0, 1.2e6, 0.01)
//                   })
                    entity.billboard = new Cesium.BillboardGraphics({
                        image : '{{=URL("static","satellite1.gif")}}', //TODO: change this to properly licensed image
                    })
                };
            });
            //Sandcastle.addToolbarButton('Toggle VSAT', function(){
            //    VSAT.show = !VSAT.show;
            //});
            var checkbox = document.getElementById('showVSATCheckbox');
            checkbox.addEventListener('change', function() {
                // Checkbox state changed.
                if (checkbox.checked) {
                    // Show if not shown.
                    if (!viewer.dataSources.contains(VSAT)) {
                        viewer.dataSources.add(VSAT);
                        viewer.zoomTo(VSAT, new Cesium.HeadingPitchRange(40,-90,9000000));
                    }
                } else {
                    // Hide if currently shown.
                    if (viewer.dataSources.contains(VSAT)) {
                        viewer.dataSources.remove(VSAT);
                    }
                }
            }, false);
            var checkbox1 = document.getElementById('showSATCheckbox');
            checkbox1.addEventListener('change', function() {
                // Checkbox state changed.
                if (checkbox1.checked) {
                    // Show if not shown.
                    if (!viewer.dataSources.contains(SAT)) {
                        viewer.dataSources.add(SAT);
                        viewer.zoomTo(SAT, new Cesium.HeadingPitchRange(40,-90,9000000));
                    }
                } else {
                    // Hide if currently shown.
                    if (viewer.dataSources.contains(SAT)) {
                        viewer.dataSources.remove(SAT);
                    }
                }
            }, false);   
            var checkbox2 = document.getElementById('showGWCheckbox');
            checkbox2.addEventListener('change', function() {
                // Checkbox state changed.
                if (checkbox2.checked) {
                    // Show if not shown.
                    if (!viewer.dataSources.contains(GW)) {
                        viewer.dataSources.add(GW);
                        viewer.zoomTo(GW, new Cesium.HeadingPitchRange(40,-90,9000000));
                    }
                } else {
                    // Hide if currently shown.
                    if (viewer.dataSources.contains(GW)) {
                        viewer.dataSources.remove(GW);
                    }
                }
            }, false);  
            var checkbox3 = document.getElementById('showELEVATIONCheckbox');
            checkbox3.addEventListener('change', function() {
                // Checkbox state changed.
                if (checkbox3.checked) {
                    // Show if not shown.
                    if (!viewer.dataSources.contains(ELEVATION)) {
                        viewer.dataSources.add(ELEVATION);
                        viewer.zoomTo(ELEVATION, new Cesium.HeadingPitchRange(40,-90,9000000));
                    }
                } else {
                    // Hide if currently shown.
                    if (viewer.dataSources.contains(ELEVATION)) {
                        viewer.dataSources.remove(ELEVATION);
                    }
                }
            }, false);   
                         
            
            //viewer.dataSources.add(VSAT);
            //viewer.dataSources.add(GW);
            //viewer.dataSources.add(SAT);
            viewer.zoomTo(VSAT, new Cesium.HeadingPitchRange(40,-90,9000000));
        </script>
</body>
