{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
        <a href= "/"><img style="margin-top: 30px" src="{{=URL("static", "images/orbitool.png" )}}"/></a>
        {{pass}}
    </header>
{{end}}

{{response.title='Input Form'}}
{{extend 'layout.html'}}
<body>
    <div style="float:left;padding:10px;height:750px;overflow: auto">
        <h1>
            Input Data
        </h1>
        {{=form}}
        <p>
          <a href="{{=URL("static","excel/single_sat_2500_coverage.xlsx")}}" target="_blank">Single Satellite Sample File</a>
        </p><p>
          <a href="{{=URL("static","excel/two_sats_6000_coverage.xlsx")}}" target="_blank">Two Satellites Sample File</a>
      </p>
    </div>
</body>
