{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            background-color: black;
        </style>
    </header>
{{end}}

{{response.title='Input Form'}}
{{extend 'layout.html'}}
<body>
  <div class="container">
    <div class= "row">
    <div class="col-lg-12">
      <a href= "/"><img id = "hero-logo" src="{{=URL("static", "images/orbitool.png" )}}"/></a>
    </div>
      </div>
    <div class= "row">
      <div class="col-lg-6">
        <h1>
            Input Data
        </h1>
        {{=form}}
        <p>
          <a href="{{=URL("static","excel/single_sat_2500_coverage.xlsx")}}" target="_blank">Single Satellite Sample File</a>
        </p><p>
          <a href="{{=URL("static","excel/two_sats_6000_coverage.xlsx")}}" target="_blank">Two Satellites Sample File</a>
      </p>
      </div>
    <div class="col-lg-6">
      </div>
      <div class="col-lg-4">
      <div class="hero-unit">
      <h3>Orbitool is a 3D visualiser for Satellites.</h3>
    </div>
    </div>
    </div>
  </div>
</body>
