{{response.title='Preview'}}
{{extend 'layout.html'}}
<html>
<head>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js">
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Hello World!</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <link rel="stylesheet"  href="{{=URL("static","/cesium/Build/Cesium/Widgets/widgets.css")}}">
    <link rel="stylesheet" href="{{=URL("static","css/jquery-ui.css")}}">

    <script src="{{=URL("static","js/editablegrid/editablegrid.js")}}"></script>
		<!-- [DO NOT DEPLOY] --> <script src="{{=URL("static","js/editablegrid/editablegrid_renderers.js")}}" ></script>
		<!-- [DO NOT DEPLOY] --> <script src="{{=URL("static","js/editablegrid/editablegrid_editors.js")}}" ></script>
		<!-- [DO NOT DEPLOY] --> <script src="{{=URL("static","js/editablegrid/editablegrid_validators.js")}}" ></script>
		<!-- [DO NOT DEPLOY] --> <script src="{{=URL("static","js/editablegrid/editablegrid_utils.js")}}" ></script>
		<link rel="stylesheet" href="{{=URL("static","css/editablegrid.css")}}" type="text/css" media="screen"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- include css and javascript sources for this demo -->
    <link rel="stylesheet" type="text/css" href="{{=URL("static","css/simple.css")}}"/>

</head>
<body>
<h1>Preview</h1>
<div  id="cesiumContainer" style="margin-left:auto; margin-right:auto; width:50%;padding:10px;height:500px;overflow: auto"></div>

<script>
var viewer = new Cesium.Viewer('cesiumContainer', {
timeline: false,
animation: false
});
var SAT = new Cesium.GeoJsonDataSource();
SAT.load("{{=URL('lbController', 'get_geojson_sat',args=[request.args(0)])}}").then(function () {
    var entities = SAT.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.billboard = new Cesium.BillboardGraphics({
            image: "{{=URL("static","images/satellite.gif")}}",
        })
    }
});
var FOV = new Cesium.GeoJsonDataSource();
FOV.load("{{=URL('lbController', 'get_geojson_FOV',args=[request.args(0)])}}").then(function () {
    var entities = FOV.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.billboard = undefined;
        entity.cylinder = new Cesium.CylinderGraphics({
            length: entity.properties.Height * 1000,
            topRadius: 0,
            bottomRadius: entity.properties.BottomRadius,
            outlineWidth: 2,
            outline: true,
            numberOfVerticalLines: 0,
            material: Cesium.Color.fromRandom({alpha: 0.1}),
        })
    }
});

var FOV_CIRCLE = new Cesium.GeoJsonDataSource();
FOV_CIRCLE.load("{{=URL('lbController', 'SAT_FOV_to_JSON',args=[request.args(0)])}}").then(function () {
    var entities = FOV_CIRCLE.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.polyline.loop = true;
        entity.polyline.material = Cesium.Color.BLACK;
        entity.polyline.width = .8;// lines get displayed properly with red strok
    }
});
var TRSP_FOV_CIRCLE = new Cesium.GeoJsonDataSource();
TRSP_FOV_CIRCLE.load("{{=URL('lbController', 'TRSP_FOV_to_JSON',args=[request.args(0)])}}").then(function () {
    var entities = TRSP_FOV_CIRCLE.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.polyline.loop = true;
        entity.polyline.material = Cesium.Color.LIGHTGREY;
        entity.polyline.width = .8;
    }
});

viewer.dataSources.add(SAT);
viewer.dataSources.add(FOV);
viewer.dataSources.add(FOV_CIRCLE);
viewer.dataSources.add(TRSP_FOV_CIRCLE);

</script>

<div id="tabs">
  <ul>
  <li><a href="#tabs-1">Satellites</a></li>
  <li><a href="#tabs-2">Transponders</a></li>
  <li><a href="#tabs-3">Gateways</a></li>
  <li><a href="#tabs-4">Calculate</a></li>
  </ul>
<div id="tabs-1">
<div id="wrap">
  <div id="sat_message"></div>
  <div id="satellite_tablecontent"></div>
</div>


</div>
<div id="tabs-2">


  <div id="wrap">
    <!-- Feedback message zone -->
    <div id="trsp_message"></div>

    <!-- Grid contents -->
    <div id="trsp_tablecontent"></div>

  </div>
  </div>
<div id="tabs-3">

  <div id="wrap">
    <!-- Feedback message zone -->
    <div id="gw_message"></div>

    <!-- Grid contents -->
    <div id="gw_tablecontent"></div>

  </div>
</div>
<div id="tabs-4">
        <h1>Calculations</h1>
        {{=form}}


    <div class = "Bwidget">
      <h1>Actions</h1>
      <button id="run" class="btn">Launch calculation</button>
      <button class="btn" id="processed">
          Out to Spreadsheet
      </button>

      <button class="btn" id="cesium">
          Plot in Cesium
      </button>
      {{pass}}
    </div>
</div>
</div>
</body>
<script type="text/javascript" >

$(document).ready(function(){
    $("#run").click(function(){
        window.location="{{=URL('run',args = request.args(0))}}";
    });
    $("#processed").click(function(){
        window.location="{{=URL('create_download',args = request.args(0))}}";
    });
    $("#cesium").click(function(){
        window.open("{{=URL('cesium',args = request.args(0))}}");
    });
});

$( function() {
  $( "#tabs" ).tabs();
} );
$( ".selector" ).tabs({
  heightStyle: "fill"
});
//next one keeps tabs visible on refresh
$(function() {
    var selectedTabId = sessionStorage.getItem("selectedTab");
    selectedTabId = selectedTabId === null ? 0 : selectedTabId; //your default being 0
    $("#tabs").tabs({
        active: selectedTabId,
        activate : function( event, ui ) {
            selectedTabId = $("#tabs").tabs("option", "active");
            sessionStorage.setItem("selectedTab", selectedTabId);
        }
    });
});
</script>


</body>
<script src="{{=URL("static","js/trsptable.js")}}", json="{{=URL("transponder_JSON", args=[request.args(0)])}}"></script>
<script src="{{=URL("static","js/satellitetable.js")}}", jsons="{{=URL("satellite_table_JSON", args=[request.args(0)])}}"></script>
<script src="{{=URL("static","js/gwtable.js")}}", json3="{{=URL("gw_table_JSON", args=[request.args(0)])}}"></script>
</html>
