{{response.title='Preview'}}
{{extend 'layout.html'}}
<head>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js">
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Hello World!</title>
    <script src="{{=URL("static","cesium/Build/Cesium/Cesium.js")}}"></script>
    <link rel="stylesheet"  href="{{=URL("static","/cesium/Build/Cesium/Widgets/widgets.css")}}">
</head>
<body>
<h1>Preview</h1>
<div  id="cesiumContainer" style="margin-left:auto; margin-right:auto; width:50%;padding:10px;height:500px;overflow: auto"></div>

<script>
var viewer = new Cesium.Viewer('cesiumContainer', {
timeline: false,
animation: false
});
var SAT = new Cesium.GeoJsonDataSource();
SAT.load("{{=URL('lbController', 'get_geojson_sat',args=[request.args(0)])}}").then(function () {
    var entities = SAT.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.billboard = new Cesium.BillboardGraphics({
            image: "{{=URL("static","satellite1.gif")}}",
        })
    }
});
var FOV = new Cesium.GeoJsonDataSource();
FOV.load("{{=URL('lbController', 'get_geojson_FOV',args=[request.args(0)])}}").then(function () {
    var entities = FOV.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.billboard = undefined;
        entity.cylinder = new Cesium.CylinderGraphics({
            length: entity.properties.Height * 1000,
            topRadius: 0,
            bottomRadius: entity.properties.BottomRadius,
            outlineWidth: 2,
            outline: true,
            numberOfVerticalLines: 0,
            material: Cesium.Color.fromRandom({alpha: 0.1}),
        })
    }
});

var FOV_CIRCLE = new Cesium.GeoJsonDataSource();
FOV_CIRCLE.load("{{=URL('lbController', 'SAT_FOV_to_JSON',args=[request.args(0)])}}").then(function () {
    var entities = FOV_CIRCLE.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.polyline.loop = true;
        entity.polyline.material = Cesium.Color.BLACK;
        entity.polyline.width = .8;// lines get displayed properly with red strok
    }
});
var TRSP_FOV_CIRCLE = new Cesium.GeoJsonDataSource();
TRSP_FOV_CIRCLE.load("{{=URL('lbController', 'TRSP_FOV_to_JSON',args=[request.args(0)])}}").then(function () {
    var entities = TRSP_FOV_CIRCLE.entities.values;
    for (var i = 0; i < entities.length; i++) {
        var entity = entities[i];
        entity.polyline.loop = true;
        entity.polyline.material = Cesium.Color.LIGHTGREY;
        entity.polyline.width = .8;
    }
});

viewer.dataSources.add(SAT);
viewer.dataSources.add(FOV);
viewer.dataSources.add(FOV_CIRCLE);
viewer.dataSources.add(TRSP_FOV_CIRCLE);

var lon = -180;
var lat = 0.;
var lon2 = 0.;
var lat2 = -90.;
var pos = [];
var pos2 = [];
for (var i = 0; i < 360; i++) {
    pos.push(Cesium.Cartesian3.fromDegrees(lon, lat));
    lon++;
}

for (var i = 0; i < 180; i++) {
    pos2.push(Cesium.Cartesian3.fromDegrees(lon2, lat2));
    lat2++;
}

viewer.entities.add({
    name: '0 Latitude',
    polyline: {
        followSurface: false,
        width: 1,
        material: Cesium.Color.BLACK,
        positions: pos
    }
});

viewer.entities.add({
    polyline: {
        followSurface: false,
        width: 1,
        material: Cesium.Color.BLACK,
        positions: pos2
    }
});

</script>


<div style="margin-left:auto; margin-right:auto; width:1000px;padding:10px;height:500px;overflow: auto">
{{=grid}}
</div>


<div style="float:left; width:50%;padding:10px;height:750px;overflow: auto">
    <h1>Calculations</h1>
    {{=form}}
</div>


    <div class = "Bwidget">
        <h1>Actions</h1>
        <button id="run" class="btn">Launch calculation</button>
        <button class="btn" id="processed">
            Out to Spreadsheet
        </button>

        <button class="btn" id="cesium">
            Plot in Cesium
        </button>
        {{pass}}
        </div>
    <div id="selected"  style="float:right; width:50%;padding:30px;height:700px;overflow: auto">


    </div>
</body>
<script type="text/javascript" >

$(document).ready(function(){
    $("#run").click(function(){
        window.location="{{=URL('run',args = request.args(0))}}";
    });
    $("#processed").click(function(){
        window.location="{{=URL('create_download',args = request.args(0))}}";
    });
    $("#cesium").click(function(){
        window.open("{{=URL('cesium',args = request.args(0))}}");
    });
});
</script>


</body>