{{response.title='Select'}}
{{extend 'layout.html'}}
<head>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
	</script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
	</script>
    <script  type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js">
    </script>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <table id="job_table" class="table table-striped hover display" cellspacing="0" width="100%">
        <thead>
             <tr>
                <th>Scenario ID</th>
                <th>Name </th>
                <th>Description</th>
                 <th>Date</th>
                <th>Links</th>
            </tr>
        </thead>
    </table>
    {{include}}
</body>
<script type="text/javascript">
$(document).ready(function(){
    var job_table = $("#job_table").DataTable({
        select:false,
        data:  {{=job}},
        columns: [
            { data: 'id' },
            { data: 'job_name' },
            { data: 'description'},
            { data: 'Date'},
            {width: '70px', "defaultContent": '<button class="btn-update" type="button">Preview</button>'}
        ],
        order: [[0,'desc']]
    });
    //Button links to the ID of the row
    $('#job_table tbody').on( 'click', '.btn-update',  function (e) {
        var data = job_table.row( $(this).parents('tr') ).data();
        window.location = '/preview/' + data['id'];
    } );
});
</script>