{{extend 'layout.html'}}
<head>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
	</script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
	</script>
    <script  type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js">
    </script>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <table id="job_table" class="table table-striped hover display" cellspacing="0" width="100%">
        <thead>
             <tr>
                <th>Job Name </th>
                <th>Sim Mode</th>
                <th>Propagation Library</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
    {{include}}
</body>
<script type="text/javascript">
$(document).ready(function(){
    var job_table = $("#job_table").DataTable({
        select:true,
        data:  {{=job}},
        columns: [
            { data: 'job_name' },
            { data: 'simulator_mode' },
            { data: 'propaLib' },
            { data: 'Date'},
            // 'id' omitted to show that you can
            // use only the fields you choose
        ],
        order: [[3,'desc']]
    });
    job_table.on('click','tr',function(){
        var data = job_table.row(this).data();
        window.location = 'update/' +data['id'];
    });
});
</script>

