{{response.title='Update'}}
{{extend 'layout.html'}}
<head>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        div#users-contain { width: 350px; margin: 20px 0; }
        div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
        div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
    </style>
    <script type="text/javascript">

$(document).ready(function(){
    var vsat_table = $("#vsat_table").DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bLengthChange: false,
        data:  {{=vsat}},
        language : { "emptyTable":"If these are empty hit Update"},
        columns: [
            { data: 'VSAT_ID'},
            { data: 'GPT' },
            { data: 'DIAMETER' },
            { data: 'POLAR'},
            { data: 'EFFICIENCY'}
            // 'id' omitted to show that you can
            // use only the fields you choose
        ],
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
        ]
    });
    $('#vsat_table tbody').on('click' , 'tr', function() {
      if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
      }
      else {$(this).addClass('selected');
        }
    } );
    
    var sat_table = $("#sat_table").DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bLengthChange: false,
        data:  {{=sat}},
        language : { "emptyTable":"Not Computed"},
        columns: [
            { data: 'SAT_ID'},
            { data: 'PAYLOAD_ID' },
            { data: 'NADIR_LON' },
            { data: 'NADIR_LAT'},
            { data: 'DISTANCE' },
            { data: 'INCLINATION_ANGLE' },
            { data: 'FOV_RADIUS'},
            { data: 'FLAG_ASC_DESC' },
            { data: 'INTERF_FLAG' },
            { data: 'ROLL' },
            { data: 'PITCH' },
            { data: 'YAW' }
            // 'id' omitted to show that you can
            // use only the fields you choose
        ],
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
        ]
    });
    $('#sat_table tbody').on('click' , 'tr', function() {
      if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
      }
      else {$(this).addClass('selected');
        }
    } );

    var gw_table = $("#gw_table").DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bLengthChange: false,
        data:  {{=gw}},
        language : { "emptyTable":"Not Computed"},
        columns: [
            { data: 'GW_ID' },
            { data: 'EIRP_MAX' },
            { data: 'GT'},
            { data: 'RS_MIN' },
            { data: 'RS_MAX' },
            { data: 'BANDWIDTH'},
            { data: 'DIAMETER' },
            { data: 'POLAR' },
            { data: 'EFFICIENCY' }
            // 'id' omitted to show that you can
            // use only the fields you choose
        ],
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
        ]
    });
    $('#gw_table tbody').on('click' , 'tr', function() {
      if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
      }
      else {$(this).addClass('selected');
        }
    } );

    var trsp_table = $("#trsp_table").DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bLengthChange: false,
        data:  {{=trsp}},
        language : { "emptyTable":"Not Computed"},
        columns: [
            { data: 'PAYLOAD_ID' },
            { data: 'TRSP_ID'}
            // 'id' omitted to show that you can
            // use only the fields you choose
        ],
        "columnDefs": [
            {"className": "dt-center", "targets": "_all"}
        ]
    });
    $('#trsp_table tbody').on('click' , 'tr', function() {
      if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
      }
      else {$(this).addClass('selected');
        }
    } );
    
    
    
    $('#delete').click( function () {
        vsat_table.rows('.selected').remove().draw( false );
        gw_table.rows('.selected').remove().draw( false );
        sat_table.rows('.selected').remove().draw( false );
        trsp_table.rows('.selected').remove().draw( false );
    } );
    
//    $('#add').click( function () { // Add this popup instead. It's much nicer https://jqueryui.com/dialog/#modal-form
//        var person = prompt("Please enter your name", "Simon");
//        if (person != null) {
//            document.getElementById("demo").innerHTML =
//            "Hello " + person + "! How are you today?";
//        }
//    } );
    
    //View here for an example https://jsfiddle.net/b90pcv3j/ 

   $( function() {
    var dialog, form,
 
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      name = $( "#name" ),
      email = $( "#email" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( email ).add( password ),
      tips = $( ".validateTips" );
 
    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
 
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
 
    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }
 
    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 
      valid = valid && checkLength( name, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );
 
      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
 
      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      return valid;
    }
 
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 600,
      width: 350,
      modal: true,
      buttons: {
        "Save to new": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });
       
 
    $( "#create-user" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  } );

    $("#gw_div").hide();
    $("#sat_div").hide();
    $("#trsp_div").hide();
    $("#vsat").click(function(){
        $("#gw_div").hide(100);
        $("#vsat_div").show(100);
        $("#sat_div").hide(100);
        $("#trsp_div").hide(100);
    });
    $("#gw").click(function(){
        $("#gw_div").show(100);
        $("#vsat_div").hide(100);
        $("#sat_div").hide(100);
        $("#trsp_div").hide(100);
    });
    $("#sat").click(function(){
        $("#gw_div").hide(100);
        $("#vsat_div").hide(100);
        $("#sat_div").show(100);
        $("#trsp_div").hide(100);
    });
        $("#trsp").click(function(){
        $("#gw_div").hide(100);
        $("#vsat_div").hide(100);
        $("#sat_div").hide(100);
        $("#trsp_div").show(100);
    });
    $("#run").click(function(){
        window.location="{{=URL('run',args = request.args(0))}}";
    });
    $("#copy").click(function(){
        window.location="{{=URL('copy',args = request.args(0))}}";
    });
    $("#processed").click(function(){
        window.location="{{=URL('create_download',args = request.args(0))}}";
    });
    $("#cesium").click(function(){
        window.open("{{=URL('cesium',args = request.args(0))}}");
    });
});
</script>
</head>
<body>
    <div style="float:left; width:40%;padding:10px;height:750px;overflow: auto">
        <h1>
            Review and update
        </h1>
        {{=form}}
    </div>
    <div class = "Bwidget">
        <h1>Component types </h1>
        <p id="description">
            {{=dbLinkBudget.Job(dbLinkBudget.Job.id==request.args(0)).description}}
        </p>
        <button id="create-user" style="float;background-color:#40ff00">Create a new job from selection</button>
        <button id="delete" style="float;background-color:#e04c4c">Hide selected</button><br><br>
        <button id="vsat" style="float;background-color:#bababa">VSAT</button>
        <button id="gw" style="float;background-color:#d3d3d3">Gateways</button>
        <button id="sat" style="float;background-color:#e5e5e5">SAT</button>
        <button id="trsp" style="float;background-color:#f7f7f7">Transponders</button>
        <p>The satellites and transponders used are assumed from Gateway Earth Points worksheet.</p>
        <!--<button id="add" style="float;background-color:#40ff00">Add selected to a new job</button>-->
    </div>
    <div id="selected"  style="float:right; width:60%;padding:30px;height:700px;overflow: auto">
        <div id = "vsat_div" style = "width:100%;">
            <h2 align="center">
                VSAT
            </h2>
            <table id="vsat_table" class="table stripe hover display" cellspacing="0" width="50%" >
                <thead>
                     <tr>
                        <th>VSAT ID</th>
                        <th>GPT(dB/K)</th>
                        <th>Diameter (m)</th>
                        <th>Polar</th>
                        <th>Efficiency (%)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="sat_div" style = "width:100%;">
            <h2 align="center">
                SAT
            </h2>
            <table id="sat_table" class="table stripe hover display" cellspacing="0" width="50%">
                <thead>
                     <tr>
                        <th>Sat ID</th>
                        <th>Payload ID</th>
                        <th>Nadir Lon (deg)</th>
                        <th>Nadir Lat (deg)</th>
                        <th>Distance (Km)</th>
                        <th>Inclination Angle (deg)</th>
                        <th>FOV Radius (deg)</th>
                        <th>Acsend/Descen </th>
                        <th>Interf Flag</th>
                        <th>Roll (deg)</th>
                        <th>Pitch (deg)</th>
                        <th>Yaw (deg)</th>

                    </tr>
                </thead>
            </table>
        </div>
        <div  id="gw_div" style = "width:100%;">
            <h2 align="center">
                Gateway
            </h2>
            <table id="gw_table" class="table stripe hover display" cellspacing="0" width="50%">
                <thead>
                     <tr>
                        <th>Gateway ID</th>
                        <th>EIRP Max (dBW)</th>
                        <th>GT (dB/K)</th>
                        <th>RS Min (MHz)</th>
                        <th>RS Max (MHz)</th>
                        <th>Bandwidth (MHz)</th>
                        <th>Diameter (m)</th>
                        <th>Polar</th>
                        <th>Efficiency (%)</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div  id="trsp_div" style = "width:100%;">
            <h2 align="center">
                Transponder
            </h2>
            <table id="trsp_table" class="table stripe hover display" cellspacing="0" width="50%">
                <thead>
                     <tr>
                         <th>Payload ID</th>
                         <th>Transponder ID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="dialog-form" title="Create new job">
      <form  enctype="multipart/form-data"
      action="{{=URL()}}" method="post">
        <p>For now this just lets you update VSAT coverage. In the future you might be able to change satellite and gateway coordinates from this form.</p>
        <fieldset>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Job" class="text ui-widget-content ui-corner-all"/>
          <label for="description">Description</label>
          <input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all"/>
            
          <label for="Coverage">VSAT Coverage</label>
          <input type="text" name="coverage" placeholder="<lat>,<lon> (Central point)" onfocus="inputFocus(this)" onblur="inputBlur(this)" id="50" class="text ui-widget-content ui-corner-all"/>
        <select name="cars">
            <option value="volvo">Small grid</option>
            <option value="saab">Medium grid</option>
            <option value="fiat">Large grid</option>
            <option value="audi">Mega grid</option>
          </select>
          <select name="density">
            <option value="volvo">Not dense</option>
            <option value="saab">Kinda dense</option>
            <option value="fiat">Very dense</option>
            <option value="audi">Dense</option>
           </select><br><br>
 
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
</body>
